@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
:root{
  --light-one: #edf2ff;
  --pure-light: #fff;
  --dark-one: #0b1028;
  --darl-two: #162050;
  --dark-three: #202f77;
}
*::before,*::after,*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  font-family: 'Rubik', sans-serif;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  background: var(--light-one);
  color: var(--dark-one);
}
header{
  border-bottom: 1.5px solid var(--dark-one);
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  gap: 4rem;
}
.navContentDetails{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLogo{
  font-size: 2.4rem;
  font-weight: 500;
}
.navLogoColor{
  color: rgb(213, 3, 3);
}
.searchForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  background: var(--pure-light);
  border-radius: 10rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 .4px 1px var(--dark-one) ;
}
.searchInput, .searchInput:active,.searchInput:focus,.searchInput:hover{
  border: none;
  outline: none;
  font-size: 1.7rem;
}
.navIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.navIcon{
  font-size: 2rem;
  cursor: pointer;
}
/*  */
/*  */
.hamburger{
  cursor: pointer;
}
.burger{
  background: var(--dark-one);
  height: 3px;
  width: 40px;
  border-radius: 8px;
  transition: all .3s ease-in-out;
}
.burgerTwo{
  margin-top: 10px;
  margin-bottom: 10px;
}
.hamburger:hover .burgerTwo,.hamburger:active .burgerTwo{
  margin-top: 6px;
  margin-bottom: 6px;
}
