@media screen and (max-width: 992px){
  html{
    font-size: 58.5%;
  }
  nav{
    flex-direction: column;
    padding: 2rem 4rem;
  }
  .navLogo{
    font-size: 3rem;
  }
  .sideNav{
   width: 100%;
   height: 350px;
   align-items: center;
   top: 30%;
  }
}
@media screen and (max-width: 898px){
  .footerForm{
    flex-direction: column;
    width: 80%;
  }
  .twoColContent{
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px){
  .mainContextHeader{
    font-size: 3rem;
  }
  .footerSectionContainer{
    padding: 0 5rem !important;
  }
   .footerForm{
    width: 100%;
  }
  .searchForm{
    justify-content: flex-start;
    padding: 1rem .8rem;
    width: 100%;
  }
  .searchInput, .searchInput:active,.searchInput:focus,.searchInput:hover{
  border: none;
  outline: none;
  font-size: 1.4rem;
}
.navContentDetails{
  flex-direction: column-reverse;
  gap: 1.8rem;
}
.navIcons{
  margin-left: 0;
}
}
@media screen and (max-width: 576px){
  .mainContextHeader{
    font-size: 2.8rem;
  }
}