.mainSectionContainer{
  padding: 0 6rem;
}
.twoColContent{
  display: grid !important;
  grid-template-columns: 2fr 3fr;
  justify-items: center;
  align-items: start;
  gap: 4rem;
}
.mainContentImage{
  border-radius: 10px;
}
.categoryAndDate{
  font-weight: 500;
  margin-bottom: 2rem;
}
.categoryDate{
  font-weight: 400;
  opacity: .7;
}
.mainContextHeader{
  font-size: 4.4rem;
  font-weight: 700;
  opacity: .9;
  margin-bottom: 1.5rem;
}
.mainContextParagraph{
  font-size: 2rem;
  font-weight: 400;
  opacity: .7;
}